<h2>All Heroines</h2>


    <% @heroines.each do |heroine| %>
      <tr>
        <td><%= heroine.super_name %></td>
        <td><%= link_to 'Show', heroine %></td>
      </tr>
      <br>
    <% end %>

    <a href="heroines/new">New Heroine</a>
