<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <div class= "well">
      <h3><%= heroine.super_name %></h3>
    <%= link_to heroine.super_name, heroine_path(heroine), :class => 'btn btn-default' %>
    </div>
  <% end %>
</ul>
