<h2>All Heroines</h2>
<h4>Search by Power<h4>
<form method = "GET" action ="/search/hero">
<%=hidden_field_tag :authenticity_token, form_authenticity_token%>
  <input type="text" name="name">
  <input type="submit" value="submit">
</form>
<ul>
  <% @power.heroines.each do |heroine| %>
    <li><a href="/heroines/<%=heroine.id%>"><%= heroine.super_name %></a></li>
    <br>
  <% end %>
</ul>
